<!--The whole content below can be removed with the new code.-->

<md-toolbar color="primary">
  <h1>{{title}}</h1>
  <span class="menu-button-spacer"></span>
  <button md-icon-button [mdMenuTriggerFor]="appMenu">
    <md-icon class="material-icons">more_vert</md-icon>
  </button>
</md-toolbar>
<nav>
  <md-menu #appMenu="mdMenu">
    <button md-menu-item (click)="navigate('/dashboard')">
      <md-icon>featured_play_list</md-icon>
      <span>Dashboard</span>
    </button>
    <button md-menu-item (click)="navigate('/recipes')">
      <md-icon>library_books</md-icon>
      <span>Recipes</span>
    </button>
  </md-menu>
</nav>

<main>
  <router-outlet></router-outlet>
</main>